.eleginos {
    padding-top: 30px;
    padding-left: 30px;
    .title-eleginos {
        font-size: 50px;
        font-weight: bold;
        font-family: "Hind Siliguri", sans-serif;
    }
    .p-eleginos{
        font-size:30px;
        font-family: "Hind Siliguri", sans-serif;
    }
    .subtitle-eleginos {
        font-size: 40px;
        font-weight: bold;
        font-family: "Hind Siliguri", sans-serif;
    }
}